$black-color: #27323E;
$my-border: 3px solid #27323E;
$my-border-dark: 3px solid white;

$primary-font: Oswald;
$secondary-font: 'Quattrocento', serif;
$third-color: #FC3F3F;
$primary-collor: #4c7bab;
$primary-color: #4c7bab;
$grey-collor: #E4E6E9;
